section header {
    border-top: 1px solid var(--stroke-color);
    padding-block: 12px 24px;
    font: var(--text-span);

    & a {
        justify-self: end;
        align-items: center;
        gap: 8px;

        & span {
            background-image: url(../assets/icons/ArrowRight.svg);
            width: 16px;
            height: 16px;
            background-repeat: no-repeat;
            align-self: end;
        }

        &:hover span {
            background-image: url(../assets/icons/ArrowRight-hover.svg);
            align-self: center;
        }
    }
}
#featured {
    grid-area: featured;
    & img {
        height: 100%;
        object-fit: cover;
        border-radius: 4px;
    }

    & .card {
        position: relative;
        border-radius: 4px;
        overflow: hidden;

        &::before {
            content: '';
            position: absolute;
            inset: 0;
            top: 50%;
            background: linear-gradient(
                180deg,
                transparent 0%,
                #020617 100%
            );
        }

        & figcaption {
            position: absolute;
            bottom: 0;
            padding: 24px;

            &:has(.text-lg) {
                padding: 12px;
            }
        }

        & h2 {
            margin-top: 8px;
        }
    }

    @media (width <= 990px) {
        justify-content: center;
        & .card {
            width: 344px;
        }

        & .card-1 {
            height: 416px;

            & h2 {
                width: 100%;
                height: 90px;
                overflow: hidden;        
                text-overflow: ellipsis;
            }
        }
    }
}
#weekly {
    grid-area: weekly;
    &>div {
        grid-template-columns: repeat(4, 292px);
    }

    img {
        height: 160px;
    }

    figure {
        position: relative;

        .content-tag {
            position: absolute;
            top: 8px;
            left: 8px;
        }

        p {
            margin-top: 8px;
            font-weight: 800;
        }
    }
}

 @media (width <= 990px){
    #weekly {
        & > div {
            grid-template-columns: unset;
            grid-auto-flow: row;
            gap: 2rem
        }

        & header,
        & header > a {
            grid-auto-flow: column
        }

        justify-content: center;
    }
 }

#ai {
    grid-area: ai;
    img {
        width: 176px;
        aspect-ratio: 1/1;
        object-fit: cover;
    }

    h3 {
        margin-block: 8px 4px;
    }
}

@media (width <= 990px){
    #ai {
        justify-content: center;
        
        & header,
        & header > a {
            grid-auto-flow: column
        }

        

        & article.grid-flow-col {
            grid-auto-flow: column;

            & div:nth-child(1) {
                grid-column: 2;
            }

            & div:nth-child(2) {
                grid-column: 1;
            }
            
            & h3 {
                height: 36px;
                overflow: hidden;        
                text-overflow: ellipsis; 
            }

            & p {
                height: 90px;
                overflow: hidden;        
                text-overflow: ellipsis; 
            }
        }
    }
 }

aside {
    grid-area: aside;
}
#more {
    margin-top: 32px;
    img {
        width: 72px;
        aspect-ratio: 1/1;
        object-fit: cover;
    }

    h3 {
        margin-top: 8px;
    }
}

@media (width <= 990px){
    #more {
        
        justify-content: center;

        & header,
        & header > a {
            grid-auto-flow: column
        }

        & article.grid-flow-col {
            grid-auto-flow: column;
        }
    }

    
}